---
const { title, description, image } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} {image} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 relative">
    <div class="absolute inset-0 bg-grid-white/[0.02] bg-[size:50px_50px] pointer-events-none"></div>
    <slot />
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"></script>
  </body>
</html>
